﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.customTable1 table, .customTable1 th, .customTable1 td {
    border: 1px solid black;
    padding: 2px 5px;
}
.customTable1 th {
    height: 40px;
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.customTable1 tr:nth-child(even) {background-color: #f2f2f2}

.customTable1 {
    width: 100%;
    table-layout:fixed;
}

.customTable1 tr:hover td:not(:last-child) {
   font-weight:bold;
 
}
.customTable1 td:last-child {
    background-color: red;
    color: white;
}
.tr-ok {
    text-align:center;
    background-color: gray !important;
}
.tr-ok td {
    text-align:center;
    padding: 10px !important;
    background-color: gray !important;
}
.navbar-brand {
  padding:0px !important;
}
.navbar-brand>img {
  height: 55px !important;
  padding: 0 !important;
  width: auto !important;
}

.dataTable {
    margin: 0 !important;
    width: 100% !important;
}

.container_div, .alarm_widget {
    /*display: none;*/
}

.page-header-narrow {
    margin-bottom: 0 !important;
    margin-top: 20px !important;
}

.footer_divider {
    margin-top:5px;
    margin-bottom:5px;
}

.fa-ck {
    display:none;
}

/*input[type="checkbox"] {
    margin: 0 !important;
}*/

#side-menu li a{
    padding-top: 8px;
    padding-bottom: 8px;
   color: grey;
}
#side-menu li:first-child a{ 
     padding-top: 15px;
    padding-bottom: 15px;
}
.sidebar {
    margin-top: 2px !important;
}

.sidebar .fa.arrow:before {
    content: "\f105";
}

#side-menu li a:hover {
    color:red;
}

.footer {
    position: absolute;
    bottom: 0;
}
.v-head {
    margin-top:0 !important;
}

.page_load {

}
.modal-form1 {
    width: 50%;
}
